# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log

# Database
*.sqlite
*.sqlite3
*.pgsql
*.db
*.db-journal
data/yaarg

# Sequelize specific
sequelize-meta.json
sequelize-migrations-lock.json

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/
coverage/

# Seeding data
/seeders/data/